
body{
  /* background-color: gray; */
  margin-left: 8%;
  margin-right: 8%;
  background-color: rgb(243, 241, 241);
  font-family: Arial, Helvetica, sans-serif;
}
.card{
  border-radius: 7%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.tip {
  background-color: #367588;
  color: white;
  padding: 10px;
  text-align: center;
}
.map{
  /* transform: translate(0,15%); */
  transform: scale(0.93) translate(0,7%);
}
h1{
  
  text-align: center;
  background-color: rgb(243, 241, 241);
  font-size: 26px;
  margin-bottom: 5%;
}

.bar.prikazi{
  background-color: rgb(243, 241, 241);
  /* border: 1px solid darkgray; */
}

.pie.prikazi{
  background-color: rgb(243, 241, 241);
  /* border: 1px solid darkgray; */
}
.pie.prikazi text{
  font-size: 17px;
}
.imeZupanije{
  display:  block;
  color: rgb(243, 241, 241);
  font-size: 22px;
  text-align: right;
  margin-right: 14%;
  background-color: rgb(243, 241, 241);
  /* border: 1px solid darkgray; */
}

.imeZupanije.pomakni{
  margin-right: 20%;
}

.imeZupanije.prikazi{
  color: black;
}

.canvas{
  max-height: 720px;
  position: absolute;
  bottom: 3%;
}

.mapLegend{
  transform: translate(12%,75%);
}

.zupanijaPrikaz{
  position: absolute;
  bottom: 20%;
  right: 50%;
}

/* .os{
  transform: translate(-70%,35%);
} */
/* @media only screen and (max-width: 2650px) {

  .canvas{
    left: 15.5%;
    bottom: 26.5%
  }
  .bar{
    transform: translate(-60%,20%);
  }
  .pie{
    transform: translate(67%,-200%);   
  }

  .imeZupanije{

    font-size: 32px;
    
  }

  h1{

    font-size: 36px;
    
  }
} */


@media only screen and (max-width: 2300px) {
  .zupanijaPrikaz{
    transform: translate(55%,-150%);
  }
  .canvas{
    left: 20.5%;
    bottom: 18.5%
  }
  .bar{
    transform: translate(110%,-75%);
  }
  .os{
    transform: translate(-240%,-55%);
  }

  .vs{
    transform: translate(-260%,-85%);
  }
  .ps{
    transform: translate(-190%,-65%);
  }
  .vp{
    transform: translate(-190%,-45%);
  }
  .bp{
    transform: translate(-200%,-85%);
  }
  .bb{
    transform: translate(-150%,-45%);
  }

  .kk{
    transform: translate(-140%,-15%);
  }
  .m{
    transform: translate(-130%,3%);
  }
  .v{
    transform: translate(-120%,-7%);
  }
  .kz{
    transform: translate(-100%,-20%);
  }
  .gz{
    transform: translate(-100%,-40%);
  }
  .z{
    transform: translate(-100%,-40%);
  }

  .sm{
    transform: translate(-120%,-70%);
  }
  .k{
    transform: translate(-75%,-80%);
  }

  .pg{
    transform: translate(-35%,-100%);
  }
  .i{
    transform: translate(-0%,-90%);
  }

  .ls{
    transform: translate(-65%,-120%);
  }
  .zad{
    transform: translate(-78%,-160%);
  }
  .šk{
    transform: translate(-105%,-195%);
  }
  .sd{
    transform: translate(-145%,-215%);
  }
  .dn{
    transform: translate(-181%,-250%);
  }
  .pie{

    transform: translate(65%, -215%);   
  }
}


@media only screen and (max-width: 2000px) {
  .zupanijaPrikaz{
    transform: translate(55%,-150%);
  }
  .pie{

    transform: translate(65%, -215%);   
  }
  .canvas{
    left: 12.5%;
    bottom: 12.5%
  }

  .bar{
    transform: translate(124.2%,-90%);
  }
}
@media only screen and (max-width: 1800px) {
  .zupanijaPrikaz{
    transform: translate(55%,-150%);
  }
  .canvas{
    left: 7.5%;
    bottom: 0%
  }
  .bar{
    left: 33.5%;
    /* transform: translate(41.5%,-95%); */
  }
  .pie{

    transform: translate(65%, -215%);   
  }
}


@media only screen and (max-width: 1600px) {
  .zupanijaPrikaz{
    transform: translate(97%,-150%);
  }
  .pie{

    transform: translate(65%, -215%);   
  }
  .bar{
    position: relative;
    left: 33.5%;
    transform: translate(41.5%,-95%);
  }
  
}

@media only screen and (max-width: 1300px) {
  
  .pie{
    
    transform: translate(130%,-320%);   
  }

  .bar{
    transform: translate(40%,-130%);
  }
}

@media only screen and (max-width: 1080px) {
  .canvas{
    top: 22%;
  }
  .bar{
    left: 65%;
  }

  .pie{
    
    transform: translate(170%,-280%);   
  }
}

@media only screen and (max-width: 1020px) {
  .bar{
    top: 350px;
  }

  .pie{
    position: relative;
    transform: translate(70%,-17%);  
  }
}


